@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@400;700&display=swap');

:root{
    --primary-color: #FF0000;
}

body{
    background:  #1C1C1C;
    margin: 0;
    font-family: 'Palanquin';
}

.navbar{
    margin-top: 1.5em;
    background-color: black;

    .container {
        display: grid;
       // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-columns: 1fr 2fr 1fr;

        nav {
            display: flex;
            height: auto;
            padding: 0;
            text-align: center;
            justify-content: flex-end;

            ul{
                display: flex;
                list-style-type: none;
                padding: 0;
                justify-content: center;

                a{
                    color:white;
                    text-decoration: none;
                    padding: .1em 1.5em;
                }
                .current{
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }

        .logo{
            display: flex;
            text-decoration: none;
            font-size: 2em;
            color: white;
            justify-content: center;

            span{
                color: var(--primary-color);
            }
        }

        .odkazy {
            display: flex;
            padding: 0;
            text-align: center;
            align-items: center;
            justify-content: flex-end ;
            
            a {
            text-decoration: none;
            width: 8%;
            padding: .5em 1em 0 0;

            .linkedIn {
                width: 100%;
                }

            .gitHub {
                    width: 100%;
                }
            }
        }

    }   
}

.hero{
    padding: 2em 0 0 0;
    margin: 0 6em 0 6em;
   
    .container {
        display: grid;
       // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-columns: 2fr 1fr;
    }

    .hi{
        color: white;  
        padding: 0;
        margin: 0;
        font-size: 1.5em;
    }

    h1{
        color: white;
        padding: 0;
        margin: 0;
        font-size: 4em;
    }
    
    .right-col{
        display: flex;
        justify-content: center;
        align-items: center;

        .hero-img{
            width: 50%;  
            }
    }

    .subhead{
        padding: 0;
        margin: 0;
        color: white;
        font-size: 1.1em;
    }
}


.hero-cta{
    margin-top: 3em;

    .primary-cta{
        background-color: var(--primary-color);
        color: white;
        text-decoration: none;
        padding: .6em 1.3em;
        border-radius: 5em;
        cursor: pointer;
        font-weight: bold;
    
        &:hover {
            background-color: white;
            color: var(--primary-color); 
        }
    }
}

.features{
    background:black;
    color: white;
    padding: 1em 0 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .container {
     display: flex;
     flex-direction: column;
     justify-content: center;
    }

    .subfeatures{
        font-size: 1.1em;
        margin-left: 6em;

    }

    .feature-list{
        padding-left: 10em;
    }
}

.img-gallery{
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 0;
    margin: auto;
  
}

.bench {
    width: 40%;
    cursor: pointer;

    &:hover {
        transform: scale(0.9) rotate(-5deg);
        border-radius: 5%;
     }
}

.contactMe{
    display: grid;
    padding: 4em 0 0 7em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .container{
        display: flex;
        place-content: space-between;

        .contact-left{
            width: 100%;
        }
        h2{
            color: white;
        }
        label{
            display: block;
            color: white;
        }

        input, textarea{
            width: 70%;
            border-radius: .3em;
            padding: .8em;
            border: 1px solid black;
            box-sizing: border-box;
        }

        input[type="submit"]{
            background-color: var(--primary-color);
            color: white;
            font-size: .8em;
            font-weight: bold;
            border: none;
            border-radius: 5em;
            cursor: pointer;
            padding: .8em 2em;
            display: flex;
            width: unset;

            &:hover{
                background-color: white;
                color: var(--primary-color);
            }
        }

        .contact-right{
            padding: 0 3em 3em 0;
            
            .podpis{
                display: flex;
                flex-direction: column;
                margin-bottom: 3em;

                h2{
                    margin: 1em 0 0 0;
                }

                h3{
                    margin: 0;
                    padding: 0;
                    color: var(--primary-color);
                }
            }

            p{
                color: white;
                margin: 0;
                span{
                    color: var(--primary-color);
                }
            }

            iframe{
                margin-top: .5em;
                height: 50%;
            }
        }
    }
}

@media only screen and (max-width:1013px) {

    .hero-img{
        display: none;
    }

    .features{
        grid-template-columns: 1fr;
    }

    .bench {
        display: none;
    }

    iframe{
        display: none;
    }
}


