@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
    --primary-color: #FF0000;
}

body{
    background:  #1C1C1C;
    margin: 0;
    font-family: 'Poppins';
}

.navbar{
    margin-top: 1.5em;
    background-color: black;

    .container {
        display: grid;
       // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-columns: 1fr 3fr 1fr;

        nav {
            display: flex;
            height: auto;
            padding: 0;
            text-align: center;
            justify-content: flex-end;

            ul{
                display: flex;
                list-style-type: none;
                padding: 0;

                li{
                    padding: 0;
                    width: 170px;
                }

                a{
                    color:white;
                    text-decoration: none;
                    padding: .1em 1.5em;
                }
                .current{
                    font-weight: bold;
                    text-decoration: underline;
                }
            }

            

            ul.pod-menu {
                display: none;
                position: relative;
                height: 0px;
                margin: 0;
                list-style: none;
                color: white;
                top: 17px;


                
                li{
                    padding: 1em 0;
                    border-bottom: 1px solid #1C1C1C;
                    background: black;
                    
                }
                
                a:hover{
                    color: var(--primary-color);
                }

            }

            [id=btn1]:checked + ul {
                display: block;
            }

            label {
                color: white;
                cursor: pointer; 
            }

            input{
                display: none;
            }

        }

        .logo{
            display: flex;
            text-decoration: none;
            font-size: 2em;
            color: white;
            justify-content: center;
            padding-top: .1em;

            span{
                color: var(--primary-color);
            }
        }

        .odkazy {
            display: flex;
            padding: 0;
            text-align: center;
            align-items: center;
            justify-content: flex-end ;
            
            a {
            text-decoration: none;
            width: 8%;
            padding: .5em 1em 0 0;

            .linkedIn {
                width: 30px;
                }

            .gitHub {
                    width: 30px;
                }
            }
        }

    }   
}

.hero{
    padding: 2em 0 0 0;
    margin: 0 6em 2em 6em;
   
    .container {
        display: grid;
       // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-columns: 2fr 1fr;
    }

    .hi{
        color: white;  
        padding: 0;
        margin: 0;
        font-size: 1.5em;
    }

    h1{
        color: white;
        padding: 0;
        margin: 0;
        font-size: 4em;
    }
    
    .right-col{
        display: flex;
        justify-content: center;
        align-items: center;

        .hero-img{
            width: 300px;  
            }
    }

    .subhead{
        padding: 0;
        margin: 0;
        color: white;
        font-size: 1.1em;
    }
}


.hero-cta{
    margin-top: 3em;

    .primary-cta{
        background-color: var(--primary-color);
        color: white;
        text-decoration: none;
        padding: .6em 1.3em;
        border-radius: 5em;
        cursor: pointer;
        font-weight: bold;
    
        &:hover {
            background-color: white;
            color: var(--primary-color); 
        }
    }
}

.features{
    background: #212121;
    color: white;
    padding: 1em 0 1em 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .container {
     display: flex;
     flex-direction: column;
     justify-content: center;
    }

    .subfeatures{
        font-size: 1.1em;
        margin-left: 6em;

    }

    .feature-list{
        padding-left: 10em;
    }
}

.img-gallery{
    display: flex;
    align-self: center;
    justify-content: center;
    padding: 2em 0 ;
    margin: auto;
  
}

.bench {
    width: 225px;
    cursor: pointer;
    z-index: 1;

    &:hover {
        transform: scale(1.1);
     }
}

.tabor{
    position: relative;
    width: 200px;
    left: 100px;
    opacity: 50%;
    cursor: pointer;

    &:hover{
        z-index: 2;
        opacity: 100%;
        transform: scale(1.1);
    }
}

.tabor2 {
    position: relative;
    width: 200px;
    opacity: 50%;
    right: 100px;
    cursor: pointer;

    &:hover{
        z-index: 1;
        opacity: 100%;
        transform: scale(1.1);
    }
}

.contactMe{
    display: grid;
    padding: 4em 0 0 7em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    .container{
        display: flex;
        place-content: space-between;

        .contact-left{
            width: 50%;
            
        }
        h2{
            color: white;
        }
        label{
            display: block;
            color: white;
        }

        input, textarea{
            width: 100%;
            border-radius: .3em;
            padding: .8em;
            border: 1px solid black;
            box-sizing: border-box;
        }

       input, email{
            width: 50%;
            border-radius: .3em;
            padding: .8em;
            border: 1px solid black;
            box-sizing: border-box;
        }

        input[type="submit"]{
            background-color: var(--primary-color);
            color: white;
            font-size: .8em;
            font-weight: bold;
            border: none;
            border-radius: 5em;
            cursor: pointer;
            padding: .8em 2em;
            display: flex;
            width: unset;

            &:hover{
                background-color: white;
                color: var(--primary-color);
            }
        }

        .contact-right{
            padding: 0 3em 3em 0;
            
            .podpis{
                display: flex;
                flex-direction: column;
                margin-bottom: 3em;

                h2{
                    margin: 1em 0 0 0;
                }

                h3{
                    margin: 0;
                    padding: 0;
                    color: var(--primary-color);
                }
            }

            p{
                color: white;
                margin: 0;
                span{
                    color: var(--primary-color);
                }
            }

            iframe{
                margin-top: 1em;
                margin-right: 3em;
                height: 150px;
                width: 85.5%;
            }
        }
    }
}
//stránka pro školní projekty

.hero-school{
    color: white;
    display: block;
    text-align: center;
    margin: 10em 0 10em 0;

    h1{
        font-size: 3em;
    }
}

//stránka pro design

.hero-design{
    color: white;
    display: block;
    text-align: center;
    margin: 10em 0 10em 0;

    h1{
        font-size: 3em;
    }
}

//stránka pro video

.hero-video{
    color: white;
    display: block;
    text-align: center;
    margin: 10em 0 10em 0;

    h1{
        font-size: 3em;
    }
}

//stránka o mě

.hero-about{
    color: white;
    display: block;
    text-align: center;
    margin: 5em 0 .5em 0;

    h1{
        font-size: 3em;
        text-decoration: underline;
        text-underline-offset: 10px;
    }
}

.features-about{
    padding: 1em 0 1em 0;
    color: white;
    text-align: center;
    background: #212121;

    a{
        color: var(--primary-color);
    }
  

    span{
        color: var(--primary-color);
    }

    img{
        position: absolute;
        width: 800px;
        left: 0; 
        right: 0; 
        margin-left: auto; 
        margin-right: auto; 
    }
  
    .uvod{
        display: grid;
        grid-template-columns: 1fr;
    }

    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 3em 3em;
        
        
    }
    .high_school{
        margin-right: 2em;
    }

    .first_job{
        margin: 2em 0 0 3em;
    }
    .RON{
        margin-top: 6em;
        margin-right: 2em;
    }
    .OK{
        margin-top: 3em;
        margin-left: 3em;
    }
    .University{
        margin-top: 5em;
        margin-right: 2em;
    }
    .future{
        margin-top: 4em;
        
    }
    

}

//zobrazení pro mobil
@media only screen and (max-width:1013px) {

    .contactMe{

        .container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            .contact-left{
                width: 80%;
            }
            
        }

    }
    .features{
        display: block;
    }

    .features-about{
        img{
            display: none;
        }
    }
}


