@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #FF0000;
}

body {
  background: #1C1C1C;
  margin: 0;
  font-family: "Poppins";
}

.navbar {
  margin-top: 1.5em;
  background-color: black;
}
.navbar .container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.navbar .container nav {
  display: flex;
  height: auto;
  padding: 0;
  text-align: center;
  justify-content: flex-end;
}
.navbar .container nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
}
.navbar .container nav ul li {
  padding: 0;
  width: 170px;
}
.navbar .container nav ul a {
  color: white;
  text-decoration: none;
  padding: 0.1em 1.5em;
}
.navbar .container nav ul .current {
  font-weight: bold;
  text-decoration: underline;
}
.navbar .container nav ul.pod-menu {
  display: none;
  position: relative;
  height: 0px;
  margin: 0;
  list-style: none;
  color: white;
  top: 17px;
}
.navbar .container nav ul.pod-menu li {
  padding: 1em 0;
  border-bottom: 1px solid #1C1C1C;
  background: black;
}
.navbar .container nav ul.pod-menu a:hover {
  color: var(--primary-color);
}
.navbar .container nav [id=btn1]:checked + ul {
  display: block;
}
.navbar .container nav label {
  color: white;
  cursor: pointer;
}
.navbar .container nav input {
  display: none;
}
.navbar .container .logo {
  display: flex;
  text-decoration: none;
  font-size: 2em;
  color: white;
  justify-content: center;
  padding-top: 0.1em;
}
.navbar .container .logo span {
  color: var(--primary-color);
}
.navbar .container .odkazy {
  display: flex;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: flex-end;
}
.navbar .container .odkazy a {
  text-decoration: none;
  width: 8%;
  padding: 0.5em 1em 0 0;
}
.navbar .container .odkazy a .linkedIn {
  width: 30px;
}
.navbar .container .odkazy a .gitHub {
  width: 30px;
}

.hero {
  padding: 2em 0 0 0;
  margin: 0 6em 2em 6em;
}
.hero .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.hero .hi {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 1.5em;
}
.hero h1 {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 4em;
}
.hero .right-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .right-col .hero-img {
  width: 300px;
}
.hero .subhead {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 1.1em;
}

.hero-cta {
  margin-top: 3em;
}
.hero-cta .primary-cta {
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 0.6em 1.3em;
  border-radius: 5em;
  cursor: pointer;
  font-weight: bold;
}
.hero-cta .primary-cta:hover {
  background-color: white;
  color: var(--primary-color);
}

.features {
  background: #212121;
  color: white;
  padding: 1em 0 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.features .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.features .subfeatures {
  font-size: 1.1em;
  margin-left: 6em;
}
.features .feature-list {
  padding-left: 10em;
}

.img-gallery {
  display: flex;
  align-self: center;
  justify-content: center;
  padding: 2em 0;
  margin: auto;
}

.bench {
  width: 225px;
  cursor: pointer;
  z-index: 1;
}
.bench:hover {
  transform: scale(1.1);
}

.tabor {
  position: relative;
  width: 200px;
  left: 100px;
  opacity: 50%;
  cursor: pointer;
}
.tabor:hover {
  z-index: 2;
  opacity: 100%;
  transform: scale(1.1);
}

.tabor2 {
  position: relative;
  width: 200px;
  opacity: 50%;
  right: 100px;
  cursor: pointer;
}
.tabor2:hover {
  z-index: 1;
  opacity: 100%;
  transform: scale(1.1);
}

.contactMe {
  display: grid;
  padding: 4em 0 0 7em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.contactMe .container {
  display: flex;
  place-content: space-between;
}
.contactMe .container .contact-left {
  width: 50%;
}
.contactMe .container h2 {
  color: white;
}
.contactMe .container label {
  display: block;
  color: white;
}
.contactMe .container input, .contactMe .container textarea {
  width: 100%;
  border-radius: 0.3em;
  padding: 0.8em;
  border: 1px solid black;
  box-sizing: border-box;
}
.contactMe .container input, .contactMe .container email {
  width: 50%;
  border-radius: 0.3em;
  padding: 0.8em;
  border: 1px solid black;
  box-sizing: border-box;
}
.contactMe .container input[type=submit] {
  background-color: var(--primary-color);
  color: white;
  font-size: 0.8em;
  font-weight: bold;
  border: none;
  border-radius: 5em;
  cursor: pointer;
  padding: 0.8em 2em;
  display: flex;
  width: unset;
}
.contactMe .container input[type=submit]:hover {
  background-color: white;
  color: var(--primary-color);
}
.contactMe .container .contact-right {
  padding: 0 3em 3em 0;
}
.contactMe .container .contact-right .podpis {
  display: flex;
  flex-direction: column;
  margin-bottom: 3em;
}
.contactMe .container .contact-right .podpis h2 {
  margin: 1em 0 0 0;
}
.contactMe .container .contact-right .podpis h3 {
  margin: 0;
  padding: 0;
  color: var(--primary-color);
}
.contactMe .container .contact-right p {
  color: white;
  margin: 0;
}
.contactMe .container .contact-right p span {
  color: var(--primary-color);
}
.contactMe .container .contact-right iframe {
  margin-top: 1em;
  margin-right: 3em;
  height: 150px;
  width: 85.5%;
}

.hero-school {
  color: white;
  display: block;
  text-align: center;
  margin: 10em 0 10em 0;
}
.hero-school h1 {
  font-size: 3em;
}

.hero-design {
  color: white;
  display: block;
  text-align: center;
  margin: 10em 0 10em 0;
}
.hero-design h1 {
  font-size: 3em;
}

.hero-video {
  color: white;
  display: block;
  text-align: center;
  margin: 10em 0 10em 0;
}
.hero-video h1 {
  font-size: 3em;
}

.hero-about {
  color: white;
  display: block;
  text-align: center;
  margin: 5em 0 0.5em 0;
}
.hero-about h1 {
  font-size: 3em;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.features-about {
  padding: 1em 0 1em 0;
  display: block;
  color: white;
  text-align: center;
  background: #212121;
}
.features-about span {
  color: var(--primary-color);
}

@media only screen and (max-width: 1013px) {
  .contactMe .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .contactMe .container .contact-left {
    width: 80%;
  }
  .features {
    display: block;
  }
}/*# sourceMappingURL=main.css.map */